* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main-container {
    height: 100vh;
}

/* /UTILITIES */

.main-container .inner-container {
    height: calc(100% - 85px);
    position: relative;
    background-color: black;

}

.main-container .inner-container .users-container {
    height: 100%;
    padding: 70px 70px 40px 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

}

.main-container .inner-container .users-container .user-window {
    height: calc(100% / 5 - 4px);
    width: calc(100% / 7 - 4px);
    position: relative;
    margin-bottom: 5px;

    cursor: pointer;

}

.main-container .inner-container .users-container .user-window img {
    height: 100%;
    width: 100%;
}

.main-container .inner-container .users-container .user-window #user-muted {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 3px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: .8em;
    color: white;
}

/* /Main Content */

.bottom-bar {
    background-color: #222222;
    padding: 10px;
    /* test */

    height: 85px;
    display: flex;
    justify-content: space-between;
}

.bottom-bar .left-bar,
.center-bar,
.right-bar {
    background-color: white;
    /* test */

}

.bottom-bar .left-bar {
    width: 10%;
    height: auto;
}

.bottom-bar .center-bar {
    width: 40%;
    height: auto;
}

.bottom-bar .right-bar {
    width: 7%;
    height: auto;
}